<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html th:replace="~{template :: index (~{::body},'Error 401 - Unauthorized')}">
<body>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center mt-4">
            <h1 class="display-1">401</h1>
            <p class="lead">Unauthorized</p>
            <p>Access to this resource is denied.</p>
            <a href="#" th:href="@{/}">
                <i class="fas fa-arrow-left mr-1"></i>
                Return to Index
            </a>
        </div>
    </div>
</div>
</body>
</html>
